@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{ --Light-Grayish-Blue: hsl(240, 75%, 98%);
--Light-Gray: hsl(0, 0%, 75%);
--Bright-Blue: hsl(224, 93%, 58%);
--Moderate-Cyan: hsl(170, 45%, 43%);
--Very-Dark-Blue: hsl(243, 87%, 12%);
--Desaturated-Blue: hsl(238, 22%, 44%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway';
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    background-color: white;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .logo img {
    width: 100%;
    height: auto;
    margin-right: 10px;
  }
  .nav-links {
    display: flex;
    gap: 20px;
  }
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 1.3rem;
  }
  @media (max-width: 600px) {
    .nav-links {
      flex-wrap: wrap;
      gap: 10px;
    }
    
    .header{
        padding: 1rem 11px 2.5rem 11px;
    }
    .nav-links a {
      font-size: 14px;
    }

    .logo img{
        width: 50%
    }
  }

.container{
    padding-bottom: 3rem;
}

.container__body{
    padding-bottom: 2rem;
}

.illustration-1{
    width: 100%;
}

.container__info{
    text-align: center;
    padding: 0 1rem;
}

.container__head{
    max-width: 90%;
    margin: auto;
    padding-bottom: 2.5rem;
}

.container__text{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    max-width: 95%;
    margin: auto;
    padding-bottom: 2rem;
}

.container__button{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    margin: auto;
}

.container__button input{
    padding: 10px;
    border: 1px solid var(--Light-Gray);
    border-radius: 5px;
    flex-grow: 1;
    min-width: 200px;
}

.btn{
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: var(--Bright-Blue);
      color: white;
      cursor: pointer;
}

@media (min-width: 1280px){
    .container{
        padding: 3rem 4.5rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        align-items: center;
    }

    .container__info{
        text-align: start;
    }

    .container__head,
    .container__text,
    .container__button{
        margin: 0;
        max-width: 65%;
    }

    .container__head{
        font-size: 2rem;
    }

    .container__button{
        flex-direction: row;
    }

    .container__button input{
        width: 40%;
    }


    
}

.illus{
    width: 100%;
}